<!DOCTYPE html>
<html>
<head>
  <title>DogEars</title>
  <%= stylesheet_link_tag    "dog_ears/application", :media => "all" %>
  <%= javascript_include_tag "dog_ears/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
